KafkaClient {
 com.sun.security.auth.module.Krb5LoginModule required
 useKeyTab=true
 keyTab="<<KeytabFile Path>>"
 serviceName="kafka"
 renewTicket=true
 principal = "<<Realm Variable>>"
 };
 
 Client {
 com.sun.security.auth.module.Krb5LoginModule required
 usekeyTab=true 
 keyTab="<Keytab File Path>>"
 storekey=true
 useTicketCache=false
 renewTicket=true
 serviceName="zookeeper"
 principal="<Realm Variable">>
 };